.redirect-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  backdrop-filter: blur(10px);
}

.redirect-container {
  background: linear-gradient(135deg, #aedd81, #f6e1a8);
  color: #333333;
}

@media (prefers-color-scheme: dark) {
  .redirect-container {
    background: linear-gradient(135deg, #114514, #222255);
    color: #e8e8e8;
  }
}
