html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  font-family: 'ceym', Arial, sans-serif;
}
@font-face {
  font-family: 'ceym';
  src: url('https://cdn.jsdelivr.net/gh/ghboke/corepresscdn@master/static/lib/font/ceym/ceym.woff2')
    format('woff2');
}
